section{
    margin-left: 20px;
}

header{
    background-color: white ;
    text-align:center;
    padding: 20px;
}

footer{
    text-align:center;
    color:#3445B6;
    padding: 1px;
    width: 100%;
    background-color: white;
}

input{
    margin-top: 20px;
    margin-bottom: 20px ;
}
label {
    display: block;
    float: left;
    width: 10em;
    margin-right: 1em;
    clear: left;
}

textarea {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    outline: none;
    resize: none;
}

a, a:hover{
    text-decoration:none;
    color:#3445B6;
}

#fromWeb{
    margin-top: 15px;
}

.test {
    border-style: solid;
    border-color: black;
    padding: 5px;
}

#index{
    position: absolute;  /* postulat de départ */
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    width: 80%;
}

img{
    height: 34px;
    margin-bottom: 10px;
}

.btn{
    color: #fff;
    background-color: #3445B6;
    border-color: #3445B6;
}

#im1, #im2{
    visibility: hidden;
}

#vld{
    margin-top: -138px
}

#im1{

}

